@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
/* font-family: 'Amatic SC', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
/* font-family: 'Hind Siliguri', sans-serif; */
/* Number */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Roboto Slab', serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
    color: whitesmoke;
}
:root{
    --primary-color: #201355;
    --secondery-color: #090242;
    --third-color: #FAB04E;
    /* --msg-color: #FAB04E; */
    --msg-color: #7fffd4;
}
body{
    background: var(--secondery-color);
}
header{
    background-color: var(--primary-color);
    color: whitesmoke;
    position: sticky;
    top: 0px;
    display: none; /*change*/
}
header h3 {
    text-align: center;
    font-size: 30px;
    padding: 9px;
    font-family: 'Amatic SC', cursive;
}
section {
    width: 100%;
    margin: auto;
    display: none;  /*change*/
}
#mainTxt {
    list-style: none;
}
#mainTxt li {
    padding: 4px 15px;
    width: fit-content;
    background: var(--msg-color);
    margin: 8px 0;
    border-radius: 15px;
    max-width: 95%;
    word-break: break-all;
}
#mainTxt li span{
    color: tomato;
    padding: 0px 4px;
    background: #9996;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}
.msgarea{
    width: 80%;
    margin: auto;
    height: fit-content;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mainTxt li p{
    color: var(--primary-color);
    font-size: 15px;
}
#sendForm{
    position: sticky;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    padding: 5px 0px;
}
#msg, .msg {
    width: 80%;
    padding: 8px 7px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    color: var(--primary-color);
    text-indent: 7px;
    padding-bottom: 5px;
    transition: 0.3s;
    margin-bottom: 10px;
}

#submitBtn, .submitBtn {
    color: var(--primary-color);
    padding: 8px 23px;
    background: var(--msg-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    padding-bottom: 5px;
    transition: 0.3s;
}
.modal {
    border-radius: 3px;
    position: absolute;
    top: 30%;
    left: 50%;
    background: whitesmoke;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
    /* width: 80%; */
    /* max-width: 500px; */
}

.modal h3 {
    font-size: 28px;
    margin: 35px 25px;
    /* letter-spacing: 2px; */
}
.modalBack {
    background: var(--secondery-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
#userNameForm {
    margin: 40px 0px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.userimg {
    width: 26px;
    vertical-align: middle;
    margin-right: 10px;
}

.accname {
    vertical-align: middle;
    font-size: 18px;
}

#logoutbtn {
    color: black;
    margin-left: 15px;
    background: var(--msg-color);
    border: none;
    padding: 4px 13px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}
#txtType {display: block;}

#txtType input[type='text'] {
    margin: 0;
    width: 50%;
}
#accInfo {
    background: #6969694a;
    padding: 4px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#accInfo img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
#googleLogout, #googleLogin, #sideGoogleLogout {
    padding: 3px 6px;
}
button#googleLogin {
    font-size: 30px;
}
button#googleLogin img {
    width: 45px;
    margin-right: 20px;
    vertical-align: middle;
}
.sideBar {
    position: fixed;
    width: 65%;
    top: 0;
    right: 0;
    background: var(--primary-color);
    height: 100vh;
    transition: 0.4s;
    transform: translateX(100%);
}

.sideContain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideImg {
    width: 50%;
    overflow: hidden;
}

img#sideUserImg {
    width: 100%;
    border-radius: 4px;
}

h3#sideUserName {
    margin: 10px;
}

.show,.close {
    font-size: 25px;
}
.show {
    display: none;
    padding: 4px 14px;
}
.close {
    margin: 1px 8px;
}
.notic h3 {
    font-size: 16px;
    margin: 2px;
    color: black;
}
p.stime {
    font-size: 14px !important;
    font-weight: 700;
}
/* <== hovers ==> */
input#submitBtn:hover {
    background: var(--msg-color);
}

/* media queries */

@media(max-width: 600px){
    .menu {
        display: none;
    }
    
    .show {
        display: block;
    }
    button#googleLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        width: 100%;
    }
    
    button#googleLogin img {
        margin: 0;
    }
}

@media(max-width: 401px){
    header h3 {
        font-size: 24px;
    }
    #mainTxt li p {
        font-size: 13px;
    }
    
    #mainTxt li {
        padding: 4px 12px;
        margin: 5px 0px;
    }
    #submitBtn, .submitBtn {
        padding: 2px 20px;
    }
    
    #msg, .msg {
        padding: 2px 5px;
    }
}
